/dts-v1/;

#include "meson-g12b-a311d.dtsi"

/ {
	model = "CAINIAO XiaoYi Pro";
	compatible = "cainiao,xiaoyi-pro", "amlogic,a311d";

	chosen {
		bootargs = "root=LABEL=COREELEC rw console=ttyAML0,115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0xee6b2800>;
	};
};

&uart_AO {
	status = "okay";
};

&sd_emmc_c {
	status = "okay";
	bus-width = <8>;
	non-removable;
};

&usb {
	status = "okay";
	dr_mode = "host";
};

ðmac {
	status = "okay";
};

&hdmi_tx {
	status = "okay";
};

&vpu {
	status = "okay";
};

&fb {
	status = "okay";
};

&watchdog {
	status = "okay";
};
