/dts-v1/;

#include "meson-g12b-a311d-x96-max.dts"

/ {
	model = "CAINIAO XiaoYi Pro";
	compatible = "cainiao,xiaoyi-pro", "amlogic,a311d";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0xee6b2800>;
	};
};
